<%= form_for(@article) do |f| %>  <!-- create a form for the object named @article, refer to the form by the name f and add the following elements to the form -->
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br>  <!-- f.label helper creates an HTML label for a field -->
    <%= f.text_field :title %>  <!-- f.text_field helper creates a single-line text box named title -->
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>  <!-- f.text_area helper creates a multi-line text box named body -->
  </p>
  <p>
    <%= f.submit %>  <!-- f.submit helper creates a button labeled "Create" -->
  </p>
<% end %>
